@import url("core.css");

* {
    background-color: var(--bg);
}

.main-body {
    color: var(--fg);
    background-color: var(--bg2);
    border: 1px solid var(--fg);
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}